@keyframes colores {
	/*from{background:#226fc1;}
	to{background: #f9a03f;}*/
	0%{background: #9eb3c2;}
	25%{background: #1c7293; width: 300px;}
	50%{background: #065a82; width: 400px;}
	75%{background: #1b3b6f; width: 300px;}
	100%{background: #9eb3c2; width: 200px;}
}

@keyframes movimiento {
	/*from{transform:translate(0px);}
	to{transform:translate(500px);}*/
	0%{transform:translate(0px);}
	50%{transform:translate(500px);}
	100%{transform:translate(0px);}
}

.caja {
	width: 200px;
	height: 200px;
	background: #9eb3c2;
	/*animation-name:movimiento;
	animation-duration:5s;
	animation-iteration-count:infinite;*/

	animation:movimiento 10s ease infinite;
}