/* Galeria */
body {
	background: #000500;
}

.galeria {
	width: 100%;
}

.galeria img {
	vertical-align: top;
	opacity: 0.5;
	width: 400px;
	margin: 20px;
	padding: 5px;
	border:1px solid #484848;
}

.galeria img:hover {
	border:1px solid #fff;
	opacity: 1;
}