<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout Basica - Acerca de</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="acerca-de.html">Acerca de</a></li>
					<li><a href="#">Productos</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</nav>
		</header>
		<section class="main">
			<div class="imagen">
				<img src="img/bg.jpg" alt="">
			</div>
			<section class="posts">
				<article>
					<h2>Acerca de</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</article>
			</section>
		</section>
		<aside>
			<div class="widget">
				<h3 class="titulo">Articulos Destacados</h3>
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
				</ul>
			</div>
		
			<div class="widget">
				<h3 class="titulo">Informacion</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</aside>
		<footer>
			<p>Carlos Arturo 2016 - Todos los Derechos Reservados</p>
		</footer>
	</div>
</body>
</html>